<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profil utilisateur</title>
</head>
<body>

<h1>Profil</h1>

<div th:if="${loueur != null}">
    <p>Bienvenue <b th:text="${loueur.username}">Username</b></p>
    <p>Email : <span th:text="${loueur.email}">Email</span></p>

    <p th:if="${loueur.nombreevaluations != null}">
        Nombre d'évaluations :
        <span th:text="${loueur.nombreevaluations}">0</span>
    </p>

    <p th:if="${loueur.notemoyenne != null}">
        Note moyenne :
        <span th:text="${loueur.notemoyenne}">0</span>
    </p>
</div>

<p th:if="${loueur == null}">
    Utilisateur non connecté.
</p>

<div>
<a th:href="@{/vehicule/liste}" > Afficher liste de vehiculs</a> <br>
</div>
<a th:href="@{/utilisateur/logout}">Déconnexion</a>

</body>
</html>
